
<!DOCTYPE html>
<html>
<head>
   <title>HERE Venue Maps</title>
   <meta name="viewport" content="initial-scale=1.0, width=device-width" />
   <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
   <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
   <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
   <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
   <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css">
   <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
   <style>
      body {
         font-family: 'Fira Sans', sans-serif;
         color: #333;
      }
      #map {
         position: absolute;
         top: 0;
         bottom: 0;
         width: 100%;
      }
      #containerNode {
         position: absolute;
         top: 0;
         left: 0;
         background-color: #fff;
         padding: 10px;
         text-align: center
      }
   </style>
</head>

<body>
   <div id="map"></div>
   <script type="text/javascript" src="{{ url_for('static',filename='js/here.js') }}"></script>
       <link rel="stylesheet" href="{{ url_for('static',filename='css/notifications.css') }}">
          <script src="{{ url_for('static',filename='js/notifications.js') }}"></script>
      <script>
      function notifyPage(messageVal) {
        window.createNotification({})({
          title: 'Judith Jones',
          message: "Requested Dr. Stevens in Room 22A"
        });
      }
  function httpGet(theUrl)
    // The network request grabs the json containing mp3 structure
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
    window.setInterval(function() {
      a = window.httpGet("/notification");
      if (a != "None") {
        addMarker('22A');
        notifyPage(a);
      } else {
      console.log("http" + a);
    }
  }, 1000);


</script>
</body>

</html>
